:root {
  --card-bg-color: #31435e;
  --text-color: #f1f1f1;
  --button-color: #597cb1;
}

body {
  background: url("./Images/star_background.webp");
  color: var(--text-color);

  max-width: 100svw;
  min-height: 100svh;
}

/* header section */
header {
  justify-content: center;
  margin: 2rem 0 5rem 0;
  text-shadow: 0 0 0.7rem #b1b1b1;
  height: 100svh;
}

label {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0 1rem 0;
}

input {
  max-width: 8rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

button {
  max-width: 6rem;
  height: 2rem;
  background: var(--button-color);
  margin: 1rem 0 0 0;
  font-weight: 600;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: transform 150ms;
}

button:hover {
  transform: scale(1.2);
  outline: 0.2rem solid var(--card-bg-color);
}
button:active {
  transform: scale(0.95);
}

/* main section */
main img {
  width: 15rem;
  height: 15rem;
  border-radius: 0.5rem;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, max-content));
  justify-content: center;
  max-width: 50rem;
  margin: 0 auto 5rem auto;
  gap: 0.5rem;
}

.card {
  justify-content: start;
  box-sizing: border-box;
  background: var(--card-bg-color);
  width: 16rem;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  filter: drop-shadow(0 0.3rem 0.5rem hsla(0, 100%, 100%, 0.301));
}

.card p {
  width: 12.3rem;
  margin: 0;
}

.card h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
}

/* footer */
footer {
  margin: 0 0 3rem 0;
}

/* collections */
.card p,
button,
input,
header,
footer {
  text-align: center;
}

h2,
h3,
p,
button {
  letter-spacing: 0.05rem;
}

header,
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body,
input,
button {
  font-family: "Orbitron", sans-serif;
}
